/build*
*~
.*.swp
*.pyc
.cproject
.project
.settings/
.vs/
d3xp/
base/DoomConfig.cfg
base/config.spec
base/*.pk4
base.*
vcxproj.filters
dhewm3.*
d3xp.*
CMakeFiles/
cmake_install.cmake
config.h
curl-config
base/STEAM_doomkey
base/gamex86.dll
idlib.*
*.dll
ZERO_CHECK*
sdl-config
sdl2-config
RelWithDebInfo/
Release/
ALL_BUILD.*
CMakeCache.txt
OpenAL32.dll
*.exe
*~*.docx
*.pdb*
pb/
pbcl.db
version.inf
base/STEAM_xpkey
base/doomkey
base/xpkey
